<h1>Listing letters</h1>

<div id="show">
    <% @letters.each do |letter| %>
        <tr>
            <li><span>09 Jan 2015</span> &raquo <td> <a href="letters/<%= letter.id%>"><%= letter.title%></a> </td></li>
        </tr>
    <% end %>
</div>

</br>
<%= link_to 'New Letter', new_letter_path%>
